#publish2_linkassist .inside {
	margin: 0 !important;
}

#p2-link_assist-inside {
	position: relative;
	margin: 0;
	padding: 0;
}

#p2-sort_links {
	color: #7f7f7f;
	text-align: center;
	padding-top: .2em;
	padding-bottom: .4em;
}

#p2-sort_links a {
	color: #7f7f7f;
}

#p2-sort_links a:hover {
	color: #ff0000;
	text-decoration: none;
}

/* @group P2 Link element */

.p2-link {
	padding-top: .5em;
	padding-bottom: 6px;
	padding-left: 24px;
	padding-right: 25px;
}

#p2-network_nav {
	padding-top: .6em;
	padding-bottom: .4em;
	text-align: center;
	color: #7f7f7f;
}

#p2-network_nav a {
	color: #7f7f7f;
}

#p2-network_nav a:hover {
	color: #ff0000;
	text-decoration: none;
}

.p2-link_video {
	margin-top: .4em;
}

.p2-link_title {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
	padding-top: .1em;
}

.p2-link_title a, .p2-link_title a:hover {
	text-decoration: none;
	color: #333333;
}

.p2-link_pubdate {
	padding-top: .4em;
	color: #7f7f7f;
	line-height: 1.3em;
}

/* @group Tweet */

.p2-link_tweet-title {
	padding-top: .1em;
	padding-bottom: .1em;
	font-size: 1.1em;
	line-height: 1.4em;
}

.p2-link_tweet-title a, .p2-link_tweet-title a:hover {
	text-decoration: none;
	color: #333333;
}

.p2-link_twitter-name {
	font-weight: bold;
}

.p2-link_tweet-meta {
	padding-bottom: 3px;
	line-height: 1.3em;
	color: #7f7f7f;
}

.p2-link_tweet-meta img {
	margin-right: 8px;
	position: relative;
	top: 4px;
}

/* @end */


/* @group YouTube */

.p2-link_youtube-meta {
	padding-bottom: .2em;
	padding-top: .2em;
	line-height: 1.3em;
	color: #7f7f7f;
}

.p2-link_youtube-meta img {
	float: right;
}

/* @end */

.p2-link_quote {
	padding-bottom: .3em;
	line-height: 1.3em;
	color: #333;
}

.p2-link_description {
	padding-top: .3em;
	padding-bottom: .3em;
	line-height: 1.3em;
}

.p2-link_description a {
	color: #333;
}

.p2-link_description a:hover {
	color: #ff0000;
	text-decoration: none;
}

.p2-link_tags {
	line-height: 1.3em;
	color: #7f7f7f;
}

.p2-link_tags a {
	color: #7f7f7f;
}

.p2-link_tags a:hover {
	color: #ff0000;
	text-decoration: none;
}

.p2-link_action {
	margin-top: .6em;
	margin-bottom: .5em;
}

/* @end */

#p2-link_count {
	text-align: center;
	font-size: 1em;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-style: italic;
	margin-top: .2em;
	padding-bottom: 1em;
	color: #7f7f7f;
}

/* @group Pagination stuff */

#p2-pagination {
	margin: 0;
	padding: 0;
}

#p2-pagination_prev {
	border-left: 1px solid #ddd;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #ddd;
	background: url(../img/gradients.png) repeat-y -75px 0;
	width: 20px;
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
}

#p2-pagination_prev:hover {
	border: 1px solid #bbb;
	cursor: pointer;
}

#p2-pagination_prev:active {
	background: url(../img/gradients.png) repeat-y -105px 0;
}

#p2-pagination_prev-button {
	height: 18px;
	width: 18px;
	background: url(../img/arrows.png) no-repeat 0 -22px;
	top: 0;
	left: 0;
	position: absolute;
	margin-top: 5px;
	margin-left: 1.5px;
}

#p2-pagination_prev:hover #p2-pagination_prev-button {
	background: url(../img/arrows.png) no-repeat 0 0;
}

#p2-pagination_next {
	border-right: 1px solid #ddd;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #ddd;
	background: url(../img/gradients.png) repeat-y 0 0;
	width: 20px;
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
}

#p2-pagination_next:hover {
	border: 1px solid #bbb;
	cursor: pointer;
}

#p2-pagination_next:active {
	background: url(../img/gradients.png) repeat-y scroll -45px 0;
}

#p2-pagination_next-button {
	height: 18px;
	width: 18px;
	background: url(../img/arrows.png) no-repeat -22px -22px;
	top: 0;
	right: 0;
	position: absolute;
	margin-top: 5px;
	margin-right: 1.5px;
}

#p2-pagination_next:hover #p2-pagination_next-button {
	background: url(../img/arrows.png) no-repeat -22px 0;
}

/* @end */

#publish2-link_assist-links {
	min-height: 120px;
}

#p2-link_404 {
	text-align: center;
	padding-bottom: 30px !important;
}

#p2-link_404 p {
	font-size: 2.3em !important;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#p2-welcome_splash {
	text-align: center;
}

#p2-welcome_splash img {
	padding-top: 2.5em !important;
	padding-bottom: 2.5em;
}

#p2-link_assist-reset {
  float: right;
}

#p2-link_assist-topnav {
	background-color: #f2f2f2;
	border-top-width: 1px;
	border-color: #bbb;
	color: #464646;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#p2-link_assist-bottomnav {
	background-color: #f2f2f2;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 6px;
	padding-bottom: 6px;
	border-color: #bbb;
	color: #464646;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#p2-link_assist-navwrap {
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

#p2-link_assist-reset {
  display:none;
}

.resetbutton img {
  top: 4px;
  right: 3px;
  position: relative;
	margin: 0;
}
